{% load static %}
{% load jalali %}
{% load num_filters %}

<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}{% endblock title %}</title>
  <link href="https://lib.arvancloud.ir/vazir-font/33.003/Vazirmatn-font-face.css" rel="stylesheet" type="text/css" />
  {% block css_files %}<link rel="stylesheet" href="{% static "css/style.css" %}" />{% endblock css_files %}
</head>

<body>
    {% block content %}{% endblock content %}
  <footer class="footer">
    <div class="container">
      <div class="footer-content">
        <div class="footer-links">
          <a href="#">درباره ما</a>
          <a href="#">تماس با ما</a>
          <a href="#">قوانین و مقررات</a>
          <a href="#">حریم خصوصی</a>
        </div>
        <div class="copyright">&copy; {% shamsi_year %} - تمام حقوق محفوظ است</div>
      </div>
    </div>
  </footer>

  {% block js_files %}{% endblock js_files %}
</body>