{% extends "main.html" %}
{% load static %}

{% block title %}
	رمز عبور جدید
{% endblock %}

{% block content %}
  <section class="login">
    <div class="login-card">
      {% if validlink %}
        {% if form.errors %}
          <div class="errors">
            {{ form.non_field_errors.as_ul }}
            {{ form.new_password1.errors }}
            {{ form.new_password2.errors }}
          </div>
        {% endif %}
        <h2>رمز عبور جدید را وارد کنید</h2>
        <form method="POST">
          {% csrf_token %}
          <div class="input-box">
            {{ form.new_password1 }}
            <label>رمز عبور</label>
          </div>
          <div class="input-box">
            {{ form.new_password2 }}
            <label>تایید رمز عبور</label>
          </div>
          <button class="submit-btn">تایید</button>
        </form>
      {% else %}
        <h2>لینک تغییر رمز عبور نامعتبر یا منقضی شده است.</h2>
        <p><a href="{% url 'password_reset' %}">درخواست مجدد</a></p>
      {% endif %}
    </div>
  </section>
{% endblock content %}