{% extends "base.html" %}
{% load static %}

{% block css_files %}<link rel="stylesheet" href="{% static "css/style.css" %}" />{% endblock css_files %}
    
{% block content %}
    <section class="login">
      {% if form.errors %}
          <div class="errors">
            {{ form.email.errors }}
          </div>
      {% endif %}
      <div class="login-card">
        <h2>ایمیل خود را وارد کنید</h2>
        <form action="{% url "forgot-password-page" %}" method="POST">
          {% csrf_token %}
          <div class="input-box">
            {{ form.email }}
            <label>ایمیل</label>
          </div>
          <button class="submit-btn">تایید</button>
        </form>
      </div>
    </section>
{% endblock content %}
