{% extends "base.html" %}
{% load static %}

{% block css_files %}<link rel="stylesheet" href="{% static "css/style.css" %}" />{% endblock css_files %}
    
{% block content %}
    <section class="login">
      <div class="login-card">
        <h2>رمز عبور جدید را وارد کنید</h2>
        <form action="{% url "password-reset-page" %}" method="POST">
          {% csrf_token %}
          <div class="input-box">
            <input type="hidden" name="rcode" value="{{ request.GET.rcode }}">
            {{ form.password }}
            <label>رمز عبور</label>
          </div>
          <button class="submit-btn">تایید</button>
        </form>
      </div>
    </section>
{% endblock content %}
