{% extends "main.html" %}
{% load static %}

{% block title %}
	فراموشی رمز عبور
{% endblock %}

{% block content %}
    <section class="login">
      {% if form.errors %}
          <div class="errors">
            {{ form.email.errors }}
          </div>
      {% endif %}
      <div class="login-card">
        <h2>ایمیل خود را وارد کنید</h2>
        <form method="POST">
          {% csrf_token %}
          <div class="input-box">
            {{ form.email }}
            <label>ایمیل</label>
          </div>
          <button class="submit-btn">تایید</button>
        </form>
      </div>
    </section>
{% endblock content %}
