{% extends "main.html" %}
{% load static %}

{% block title %}ایجاد حساب{% endblock title %}
    
{% block content %}
    <section class="login">
      {% if form.errors %}
          <div class="errors">
          {{ form.non_field_errors.as_ul }}
          {{ form.first_name.errors }}          
          {{ form.last_name.errors }}          
          {{ form.email.errors }}          
          {{ form.password1.errors }}
          {{ form.password2.errors }}
          </div>
      {% endif %}
      <div class="login-card">
        <h2>اکانت خود را بسازید</h2>
        <form method="POST">
          {% csrf_token %}
          <div class=" input-box">
            {{ form.first_name }}
            <label for="first_name">نام</label>
          </div>
          <div class=" input-box">
            {{ form.last_name }}
            <label for="last-name">نام خانوادگی</label>
          </div>
          <div class="input-box">
            {{ form.email }}
            <label>ایمیل</label>
          </div>
          <div class="input-box">
            {{ form.password1 }}
            <label>رمز عبور</label>
          </div>
          <div class="input-box">
            {{ form.password2 }}
            <label>تکرار رمز عبور</label>
          </div>
          <button class="submit-btn">تایید</button>
          <p class="login-text">از قبل اکانت دارید؟ <a href="{% url "login" %}">وارد شوید</a>
        </form>
      </div>
    </section>
{% endblock content %}
