{% extends "panel_base.html" %}
{% load static %}

{% block title %}
	هدف مالی
{% endblock %}

{% block content %}
  <section class="login">
    {% if form.errors %}
      <div class="errors">
        {{ form.non_field_errors.as_ul }}
        {{ form.text.errors }}
      </div>
    {% endif %}
    <div class="card">
      <div class="card-header">
        <h2 class="card-title">هدف مالی خود را بنویسید</h2>
      </div>
      <form method="POST">
        {% csrf_token %}
        <div class="form-group">
          {{ form.text }}
        </div>
        <button class="submit-btn">تایید</button>
      </form>
    </div>
  </section>
{% endblock content %}
{% block js_files %}{% endblock %}