{% extends "panel_base.html" %}
{% load static %}

{% block title %}پنل کاربری{% endblock title %}

{% block content %}
  {% include 'panel/includes/header.html' %}
  <section class="panel">
    <div class="pkos">
      <div class="user-profile">
        <h2>تغییر عکس پروفایل</h2>

        {% if user.profile.profile_picture %}
          <img class="profile" src="{% url "profile_picture" %}" alt="عکس پروفایل">
        {% else %}
          <img class="profile" src="{% static "images/blank-profile-picture.webp" %}" alt="عکس پروفایل">
        {% endif %}
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}

          {% if avatar_form.errors %}
            <div class="errors">
              {{ avatar_form.non_field_errors.as_ul }}
              {{ avatar_form.profile_picture.errors }}
            </div>
          {% endif %}

          {{ avatar_form.profile_picture }}
          <button type="submit" class="pbutton" name="form_type" value="avatar">
            <i class="fas fa-cloud-upload-alt"></i> آپلود تصویر
          </button>
        </form>
      </div>
      <div class="user-profile logout-background">
        <form action="{% url "logout" %}" method="POST" class="logoutform">
          {% csrf_token %}
          <button style="font-size: 2rem;" class="pbutton logout">خروج<i class="fa fa-sign-out"></i></button>
        </form>
      </div>
    </div>

    <div class="user-panel" dir="rtl">
      <h2>
        <i class="fa-solid fa-user-gear"></i>
        تنظیمات حساب کاربری
      </h2>
      <form method="POST" class="panel-form">
        {% csrf_token %}

        {% if profile_form.errors %}
          <div class="errors">
            {{ profile_form.non_field_errors.as_ul }}
            {{ profile_form.first_name.errors }}
            {{ profile_form.last_name.errors }}
          </div>
        {% endif %}

        <label for="name">نام :</label>
        {{ profile_form.first_name }}

        <label for="last_name">نام خانوادگی</label>
        {{ profile_form.last_name }}

        <button type="submit" class="btn2" name="form_type" value="profile">ویرایش اطلاعات</button>

      </form>
      <form method="POST" class="panel-form">
        {% csrf_token %}

        <hr style="margin: 30px 0; border-color: #eee;">
        {% if password_form.errors %}
          <div class="errors">
            {{ password_form.non_field_errors.as_ul }}
            {{ password_form.old_password.errors }}
            {{ password_form.new_password1.errors }}
            {{ password_form.new_password2.errors }}
          </div>
        {% endif %}
        <label for="password">رمز عبور کنونی:</label>
        {{ password_form.old_password }}

        <label for="password">رمز عبور جدید:</label>
        {{ password_form.new_password1 }}

        <label for="password">تکرار رمز عبور جدید:</label>
        {{ password_form.new_password2 }}

        <button type="submit" class="btn2" name="form_type" value="password">
          <i class="fas fa-check"></i> ذخیره تغییرات
        </button>
      </form>
    </div>

  </section>
{% endblock content %}