{% extends "panel_base.html" %}
{% load static %}
{% load jalali %}
{% load num_filters %}

{% block title %}گزارش ها{% endblock title %}

{% block content %}
  {% include 'panel/includes/header.html' %}
  <section id="reportcard">
    <div class="card">
      <div class="card-header">
        <h2 class="card-title">گزارش هزینه‌ها بر اساس دسته‌بندی</h2>
        <div class="dropdown">
          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
             aria-expanded="false">
            {% if category == "all" %}همه
            {% elif category == "salary" %}حقوق
            {% elif  category == "food" %}خوراک
            {% elif category == "clothes" %}پوشاک
            {% elif category == "transportation" %}حمل و نقل
            {% elif category == "hobby" %}تفریح و سرگرمی
            {% elif category == "health" %}سلامتی
            {% elif category == "investment" %}سرمایه گذاری
            {% elif category == "loan" %}وام
            {% elif category == "rent" %}اجاره
            {% elif category == "bill" %}قبض ها
            {% else %}
              همه
            {% endif %}

          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="?category=all">همه</a></li>
            <li><a class="dropdown-item" href="?category=salary">حقوق</a></li>
            <li><a class="dropdown-item" href="?category=food">خوراک</a></li>
            <li><a class="dropdown-item" href="?category=clothes">پوشاک</a></li>
            <li><a class="dropdown-item" href="?category=transportation">حمل و نقل</a></li>
            <li><a class="dropdown-item" href="?category=hobby">تفریح و سرگرمی</a></li>
            <li><a class="dropdown-item" href="?category=health">سلامتی</a></li>
            <li><a class="dropdown-item" href="?category=investment">سرمایه گذاری</a></li>
            <li><a class="dropdown-item" href="?category=loan">وام</a></li>
            <li><a class="dropdown-item" href="?category=rent">اجاره</a></li>
            <li><a class="dropdown-item" href="?category=bill">قبض ها</a></li>
          </ul>
        </div>

      </div>
      <div class="chart-container">
        <table class="transactions-table report" id="transactionsTable">
          <thead>
          {% if transactions %}
            <tr>
              <th>دسته‌بندی</th>
              <th>توضیحات</th>
              <th>تاریخ</th>
              <th>مبلغ</th>
              <th>عملیات</th>
            </tr>
            </thead>
            <tbody id="transactionsBody">
            {% for t in transactions %}
              <tr>
                <td>{{ t.get_category_display }}</td>
                <td>{{ t.comment }}</td>
                <td>{{ t.date|to_jalali:"%Y-%m-%d %H:%M"|persian_digits }}</td>
                <td>{{ t.amount|persian_digits }} تومان</td>
                {% if t.transaction_type == "income" %}
                  <td>
                    درآمد
                  </td>
                {% else %}
                  <td>
                    هزینه
                  </td>
                {% endif %}
              </tr>
            {% endfor %}
          {% else %}
            <tr>
              <td colspan="5" class="text-center">هیچ تراکنشی برای نمایش وجود ندارد</td>
            </tr>
          {% endif %}
          </tbody>
        </table>
        {% comment %} <div class="chart-placeholder">
            <i class="fas fa-chart-pie"></i>
            <p>نمودار هزینه‌ها بر اساس دسته‌بندی</p>
            <small>این بخش با کتابخانه نمودارسازی پر خواهد شد</small>
          </div> {% endcomment %}
      </div>
    </div>
  </section>
{% endblock content %}