{% extends "panel_base.html" %}
{% load static %}

{% block title %}تراکنش جدید{% endblock title %}

{% block content %}
  {% include 'panel/includes/header.html' %}
  <section class="transaction">
    <div class="sidebar">
      {% if form.errors %}
        <div class="errors">
          {{ form.non_field_errors.as_ul }}
          {{ form.amount.errors }}
          {{ form.category.errors }}
          {{ form.date.errors }}
        </div>
      {% endif %}
      <div class="card">
        <div class="card-header">
          <h2 class="card-title">تراکنش جدید</h2>
        </div>
        <form method="POST" class="add-transaction-form" id="transactionForm">
          {% csrf_token %}
          <div class="form-group">
            <label for="type">نوع تراکنش</label>
            <div class="radio-group">
              {% for radio in form.transaction_type %}
                <label class="radio-option">
                  {{ radio.tag }}
                  <span class="radio-custom"></span>
                  <span>{{ radio.choice_label }}</span>
                </label>
              {% endfor %}
            </div>
          </div>

          <div class="form-group">
            <label for="amount">مبلغ (تومان)</label>
            {{ form.amount }}
          </div>

          <div class="form-group">
            <label for="category">دسته‌بندی</label>
            {{ form.category }}
          </div>

          <div class="form-group">
            <label for="description">توضیحات (اختیاری)</label>
            {{ form.comment }}
          </div>

          <div class="form-group">
            <label for="date">تاریخ</label>
            {{ form.date }}
          </div>

          <button type="submit" class="btn btn-primary" style="width: 100%; margin-top: 1rem" id="add">
            <i class="fas fa-plus"></i>
            افزودن تراکنش
          </button>
        </form>
      </div>
    </div>
  </section>
{% endblock content %}